{% extends 'layout.html' %}

{%block main%}

<body>
    <h1>Todo List</h1>

    <form action="/add" method="post">
        <div style="text-align: center;">
            <input type="text" name="note" required>
            <button type="submit">Add note</button>
        </div>
    </form>

    <!-- {% for message in get_flashed_messages() %}
    <div class="messages">
           <p>{{ message }}</p>
        </div>
        {% endfor %} -->
    
    <div class="notes-card">
        {% for note in notes %}
        <div class="card-body">
            <div>
                {{ note.note }}
            </div>
            <div class="operation">
                <div class="edit-ops">
                    <form action="{{ url_for('edit', note_id=note.id) }}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </div>
                <div class="delete-ops">
                    <form action="{{ url_for('delete', note_id=note.id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}